{{# if products }}
    <!-- Cart information -->
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                {{# each products}}
                    <li class="list-group-item">
                        <span class="badge">{{ this.quantity }}x</span>
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Action<span class="cart"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/reduce/{{ this.item._id }}">Remove 1</a></li>
                                <li><a href="/remove/{{ this.item._id }}">Remove All</a></li>
                            </ul>
                        </div>
                    </li>
                {{/ each }}
            </ul>
        </div>
    </div>
    <!-- Info about the order -->
    <div class="row">
        <div class="col-6">
            <strong>Total: {{ totalPrice }}</strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="/checkout/" class="btn btn-success">Checkout</a>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-6">
            <strong>No items in the shopping cart.</strong>
        </div>
    </div>
{{/ if }}